
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.content-links-header{
    display: flex;
    list-style: none;
    margin: 10px;
   
}

.about-store{
    display: flex;
    list-style: none;
    
}

.gmail-image{
    display: flex;
    list-style: none;
    margin-left:auto;
    align-items: center;
}

.gmail-image > li > a > img{
 width: 34px;
}

.gmail-image > li > a{
    padding: 10px;
    color: #000;
}

.about-store > li > a{
    padding: 10px;
    color: #000;
}

.img-icon{
    border-radius: 50%;
}

main{
    display: flex;
}
 .content-main{
     height: 100vh;
    margin: auto;
    
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* quando o flex-direction está em column, o align items, funciona horizontalmente. Então é necessario usar o justify content*/
    
}

.img-main{
    margin: auto;
}
/* }footer */

.content-links-footer {
    display: flex;
   align-items: flex-end;
   min-height: 40px;
   background-color: rgba(194, 190, 190, 0.418);
}

.start{
    display: flex;
    align-items: flex-end;
    list-style: none;
    
}

.ending{
    display: flex;
    list-style: none;
    margin-left:auto;
    align-items: center;
}

.ending > li > a{
    padding: 10px;
    color: #000;
}
.start> li > a{
    padding: 10px;
    color: #000;
}

#search{
    width: 80vh;
    max-width: 500px;
    height: 40px;
    border: 1px solid #e1e1e1;
    outline: 0;
    border-radius: 50px;
    margin: 20px 0px 30px 0px;
}

.buttons{
    text-align: center;
}

.buttons div {

    background-color:#eee;
   display: inline;
    padding: 10px;
    margin: 10px;
   color: #3b3b3b;
  
   border-color: #c0c0c0;
   border-radius: 4px;
    
   
}

.buttons a{
    text-decoration: none;
}






